body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('img/splash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: bold;
  font-family: sans-serif;
}

.counter-box {
  flex: 0 0 50%;
  text-align: center;
  border: 3px solid grey;
  box-shadow: 3px 3px 10px 10px black;
   color: blue;
   padding: 1rem;
   border-radius: 10px;
}
.counter {
  font-size: 6rem;
}
.btn {
  background: white;
  border-radius: 8px;
  font-size: 2rem;
  padding: .5rem;
  margin: .5rem .25rem;
  border: 3px solid #f15025;
  box-shadow: 0 5px #001221;
  outline: none;
}
#addCntBtn:hover {
  color: white;
  background: #4caf50;
}
#lowerCntBtn:hover {
  color: white;
  background: red;
}
.btn:active {
  box-shadow: none;
}
