body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.hexColor {
    text-transform: capitalize;
}

.hex {
    font-size: 3rem;
}

.hexBtn {
    padding: 10px 20px;
    border: 3px solid white;
    border-radius: 7px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
}

.hexBtn:hover {
    background: rgb(0, 0, 0);
}
